/* Footer */
.footer-section{
    background-color: #204C38;
    width: 100%;
    padding: 1.5rem 0;
    height: vh;
}

.quick-links {
    list-style: none;
    padding: 0;
}
.quick-links li {
    color: #FFD702;
    font-size: .9rem;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
}

.copy-right {
    font-size: .8rem;
    margin: 0 140px;
}