.card-container {
    padding: 40px 140px;
    background-color: #F4F4F4;
    color: black;
    display: flex;
    justify-content: space-between;
}

.product-img-container {
    display: grid;
    place-items: center;
    height: 200px;
    width: 200px;
    margin: auto;
}

.product-card-img {
    width: 100%;
    object-fit: cover;

}

.new {
    background-color: #05791F;
    padding: 0 1rem;
    border-radius: 4px;
    color: white;
}

.product-uppertext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-star {
    height: 1.25rem;
}


.cart-btn {
    width: 100%;
    background-color: #204C38;
    color: #dfdfdf;
    border: none;
    height:3rem;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-card-content {
    padding: 1rem;
    border-top: 1px solid rgb(218, 216, 216); /* border on top */
    border-left: 1px solid rgb(218, 216, 216); /* border on left */
    border-right: 1px solid rgb(218, 216, 216); /* border on right */
    height: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #204C38;
    height: 400px;
    width: 275px;
    background-color: white;
    border-radius: 10px;  

      
}

.product-card-price {
    color: #05791F;
}

.product-card-description {
    font-size: 14px;
}