/* Header section */

.header-section {
  padding: 0 140px;
  padding-top: 1.5%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.scrolled {
  background-color: #ffffff;
  color: rgb(43, 43, 43);
  opacity: 0.9;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list-container {
  list-style: none;
  display: flex;
}

.link-list-container li {
  margin-left: 1.5rem;
}

.link-list-container li:hover {
  color: #ffd702;
  cursor: pointer;
}

.search-input {
  height: 1.5rem;
  width: 30rem;
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 16px;
}

.vertical-line {
  margin-left: 1rem;
}

.active {
  position: relative;
  padding-bottom: 0.15rem;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #ffd702;
}

.logo .active::after {
  content: ""; 
  width: 0;
}

/* Default styles */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .header-section {
    padding: 0 60px;
  }

  .search-input {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .header-section {
    padding: 0 40px;
    height: auto;
  }

  .header-container {
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    order: 2;
  }

  .link-list-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: black;
  }

  .link-list-container.show {
    display: flex;
  }

  .link-list-container li {
    margin: 10px 20px;
    font-size: 1rem;
  }

  .search-input {
    width: 100%;
    margin-top: 10px;
  }

  .vl {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-section {
    padding: 0 20px;
    background-color: #204C38;
    color: rgb(255, 255, 255);
  }

  .search-input {
    display: none;
  }
}
