/* Header section */

header {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
  align-items: center;
  padding-top: 1.5%;
  height: 8vh;
  
}

.link-list-container {
  list-style: none;
  display: flex;
}

.link-list-container li {
  margin-left: 1.5rem;
}

.link-list-container li:hover {
  color: #ffd702;
  cursor: pointer;
}

.search-input {
  height: 1.5rem;
  width: 30rem;
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 16px;
}
.vertical-line {
  margin-left: 1rem;
}


.active {
  position: relative;
  padding-bottom: 0.15rem;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px; /* Adjust this value to control the height of the border */
  left: 0;
  width: 50%; /* This will make the border cover only half of the width */
  height: 2px; /* Border thickness */
  background-color: #ffd702; /* Border color */
}



.logo .active::after {
  content: ""; 
  width: 0;
}

/* Default styles */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.link-list-container {
  display: flex;
  list-style-type: none;
}

/* Responsive styles */
@media (max-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #204C38;
    color: rgb(255, 255, 255);
  }

  .header-section {
    margin: 0;
  }

  .menu-icon {
      display: block;
      position: absolute;
      right: 1rem;
  }

  .link-list-container {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 40px;
      right: 10px;
      background-color:#ffffff;
      width: 5rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      color: black;
  }

  .link-list-container.show {
      display: flex;
  }

  .link-list-container li {
      margin: 10px 0;
      font-size: 1rem;
  }
  .search-input, .vl {
    display: none;
  }
}
