.checkout-section {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 140px;
}
.check-out-container {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 5%;
}

.address-container {
    margin-bottom: 1rem;
}


.address-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.address-container .address-card {
    border: 1px solid #B6B6B6 ;
    padding: 0.5rem;
}

  .timeline {
    display: flex;
    align-items: center;
    width: 50vw;
    margin: 1rem auto;
  }
  .delivery-timeline {
    display: flex;
    width: 55vw;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
    }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .circle.done {
    background-color: #8AE09D;
  }
  
  .line {
    height: 2px;
    background-color: gray;
    flex: 1;
  }
  

  .line.done {
    background-color: #8AE09D;
  }
.payment-method-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.payment-method-container span{
    border: 1px solid #B6B6B6 ;
    padding: 0.5rem;
    height: 4rem;
    font-size: 1.5rem;
}

.payment-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.selected-payment {
    background-color: #53A5F1;
    color: white;
}

.order-summary-container {
    border: 1px solid #B6B6B6 ;

}

.card-input-container input {
    height: 2rem;  
    width: 70%;
    font-size: 1.25rem;
}