.hero-section {
  margin: 40px 140px;
}

.hero-section-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.hero-img-container {
  width: 100%;
}

.hero-image {
  height: 610px;
}

.shoe-icon {
  height: 1.125rem;
  width: 1.125rem;
}

.hero-text {
  font-size: 3rem;
}

.hero-text-container {
  height: 100%;
  width: 100%;
}

.hero-text-container-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.hero-text-2 {
  font-size: 2rem;
}


.dark {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: fixed;
  z-index: -1;
}


.category-section {
  display: grid;
  grid-template-columns: 64% 36%;
}


.category-img {
  width: 100%;
  
}


.hero-shape {
  position: absolute;
  z-index: -1;
  height: 700px;
}

.seal {
  position: absolute;
  height: 200px;
}