.login-section {
    margin: 10px 140px 60px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    
}

.welcome-back-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-back-tagline p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}
.welcome-back-tagline h2 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: #ffd702;
}

.login-card {
    display: flex;
    flex-direction: column;
    backdrop-filter:  saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(189, 189, 189, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 4rem;
}


.login-card input{
  border: 1px solid rgb(255, 215, 2);
  background: white;
  width: 27vw;
  height: 1.6rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  margin: auto;
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
  
.login-text {
  margin-bottom: 1rem;
}

.login-card label {
  color: #ffd702;
  font-size: 0.7rem;
}

.login-card div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup-link {
  font-size: 0.7rem;
}




/* Media Query for Small screens */
@media screen and (max-width: 480px) {
  .login-section {
    margin: 100px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 100%;
}
}