.view-product-component {
    background-color: #f3f3f3;
    color: black;
}

.view-product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 10px 140px;
}

.img-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

.img-container img {
    width: 90%;
}


.img-preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: #f3f3f3;
    padding: 1rem;
}

.img-preview-container div {
    background-color: #ffffff;
    padding: 1rem;
}

.img-preview {
    width: 100%;

}

.img-selected {
    border: 1px solid #940000;
}

.product-info-container {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 5px;
    
}

.product-info-container div{
    margin: 1rem 0;
}


.product-info-container div:nth-child(3) {
    color: #05791F;
}

.rate-info span {
    margin-right: 1rem;
}


.spec-container {
    background-color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 5px;
    margin: 10px 140px;
}

.spec-text-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn-container button {
    margin-right: 1rem;
}

.spec {
    margin-bottom: 2rem;
}

.spec div:nth-child(1) {
    color: #A4A4A4;
    font-size: 14px;
}

.spec div:nth-child(2) {
    font-size: 14px;
}


.product-info-container div:nth-child(2) {
    font-size: 14px;
}

.purchase-qty {
    height:2.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.other-section {
    display: grid;
    place-items: center;
}

