.view-product-component {
    color: black;
}

.view-product {
  background-color: #f4f4f4;
  /* background-color: #204C38; */
}
  .view-product-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    padding: 10px 140px;
  }
  
  .img-container {
    background-color: rgb(255, 255, 255);
    height: 50vh;
    border: #dfdfdf solid 1px;
  }
  
  .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .img-preview-container {
    display: flex;
    overflow-x: auto;
    padding: 0.1rem;
    width: 100%;
    background-color: #28312d;
  }
  
  .img-preview-container div {
    background-color: #ffffff;
  }
  
  .img-preview {
    flex-shrink: 0;
    width: 160px; /* Adjust as needed */
    height: 160px; /* Adjust as needed */
    border: 1px solid #204C38;
  }
  
  .img-selected {
    border: 1px solid #7d7d7d;

  }
  
  .product-info-container {
    background-color: rgb(255, 255, 255);
    border: #dfdfdf solid 1px;
    max-height: calc(50vh - 2rem);
    padding: 1rem;
  }
  
  
  .product-info-container div {
    margin: 1rem 0;
  }
  
  .product-info-container div:nth-child(3) {
    color: #05791f;
  }
  
  .rate-info span {
    margin-right: 1rem;
  }
  
  .spec-container {
    background-color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    padding: 2rem;
    margin: 10px 140px;
    border: #dfdfdf solid 1px;
  }
  
  .spec-text-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .btn-container {
    display: flex;
  }

  .btn-container button {
    margin-right: 1rem;
  }
  
  .spec {
    margin-bottom: 2rem;
  }
  
  .spec div:nth-child(1) {
    color: #a4a4a4;
    font-size: 14px;
  }
  
  .spec div:nth-child(2) {
    font-size: 14px;
  }
  
  .product-info-container div:nth-child(2) {
    font-size: 14px;
  }
  
  .purchase-qty {
    height: 2.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  
  .other-section {
    display: grid;
    place-items: center;
  }
  
  .img-preview-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .img-preview-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .img-preview-scroll::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .img-preview-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .price {
    color: #05791f;
  }

  .label {
    margin-right: 0.5rem;
  }