
.signup-section {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.signup-section > span:nth-child(2) {
  font-size: 0.7rem;
}

.signup-section > span:nth-child(3) {
  margin-top: 0;
  padding-top: 0;
  color: #ffd702;
  font-size: 2rem;
  font-weight: 600;
}

.signup-section > span:nth-child(4) {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}



.signup-card {
  display: flex;
  flex-direction: column;
  backdrop-filter:  saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(189, 189, 189, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
}




.signup-card input{
  border: 1px solid rgb(255, 215, 2);
  background: white;
  width: 30vw;
  height: 1.6rem;
  margin-top: 0.5rem;

  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  margin: auto;
  display: block;
  padding-left: 0.5rem;
}


.signup-card label {
  color: #ffd702;
  font-size: 0.7rem;
}

.signup-card div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-link {
  font-size: 0.8rem;
}