
.signup-section {
  margin: 40px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}



.signup-card {
  display: flex;
  flex-direction: column;
  backdrop-filter:  saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(189, 189, 189, 0.10);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
  height: 100%;
  margin-top: 10rem;
}




.signup-card input{
  border: 1px solid rgb(255, 215, 2);
  background: white;
  width: 30vw;
  height: 1.6rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin: auto;
  display: block;
}

.signup-text {
  margin-bottom: 1rem;
}

.signup-card label {
  color: #ffd702;
  font-size: 0.7rem;
}

.signup-card button {
  margin-top: 1rem;
}