.view-product-component {
    background-color: #f3f3f3;
    color: black;
    padding: 40px 140px;
}


.view-product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;


}

.img-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60vh;
    display: grid;
    place-items: center;
}

.img-container img {
    width: 100%;
}


.img-preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: #f3f3f3;
    padding: 1rem;
}


.img-preview {
    width: 100%;
    background-color: #ffffff;
}


.product-info-container {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
}

.product-info-container div{
    margin: 1rem 0;
}

.product-info-container div:nth-child(2) {
    color: #05791F;
}

.rate-info span {
    margin-right: 1rem;
}
