html {
  font-size: 18px;
}


body {
  background-color: #22002E;
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  font-size: 34px;
}


.yellow-color {
  color: #FFD702;

}

.primary-btn {
  background-color: #FFD702;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
}


.primary-btn:hover {
  background-color: #204C38;
  color: aliceblue;
}

.secondary-btn {
  background-color: #204C38;
  color: aliceblue;
  border-radius: 5px;
  font-size: 1.2rem;
  display: inline;
  font-size: 18px;
  padding: 15px 32px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  border: 1px #CBCBCB solid;
}

.tertiary-btn {
  background-color: white ;
  color: #204C38;
  border-radius: 5px;
  font-size: 1.2rem;
  display: inline;
  font-size: 18px;
  padding: 15px 32px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  border: 1px #CBCBCB solid;
}

.admin-container {
  display: flex;
}




/* Typography */
.shadow {
  box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.25);
}
.emphasized {
  font-weight: bold;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.text-underlined {
  text-decoration: underline;
}


.admin-section {
  display: flex;
  background-color: #e1e4e6;
}

/* New button */

.button {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid #ffd702;
  background-color: #ffd702;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}