html {
  font-size: 18px;
  
}


body {
  background: #22002e;
  background-image: radial-gradient(
    rgba(223, 223, 223, 0.1) 1px, 
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  font-size: 34px;
}


.yellow-color {
  color: #FFD702;

}


.admin-container {
  display: flex;
}




/* Typography */

.emphasized {
  font-weight: bold;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.text-underlined {
  text-decoration: underline;
}


.admin-section {
  display: flex;
  background-color: #e1e4e6;
}

/* New button */

.button {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid #ffd702;
  background-color: #ffd702;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 0.8rem;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}