body {
  background-color: #22002E;
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header section */
.logo {
  font-size: 24px;
}
.yellow-color {
  color: #FFD702;

}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
  align-items: center;
  padding-top: 1.5%;
}

.link-list-container {
  list-style: none;
  display: flex; 
}

.link-list-container li {
  margin-left: 1.5rem; 
}


.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%; /* Adjust the value to set the starting position of the underline */
  width: 60%; /* Adjust the value to set the width of the underline */
  height: 2px; /* Adjust the value to set the thickness of the underline */
  background-color: blue; /* Adjust the color of the underline */
}

.search-input {
  height: 1.5rem;
  width: 30rem;
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 16px;
}

/* Homepage Design */

.homepage {
  margin: 40px 140px;
}

.hero-section {
  display: flex;
}

.img-container {
  width: 50%;
}

.hero-image {
  height: 610px;
}

.shoe-icon {
  height: 1.125rem;
  width: 1.125rem;
}

.hero-text {
  font-size: 40px;
}

.Shop-now-btn {
  background-color: #FFD702;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
}



.hero-text-container-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  align-items: center;
  justify-content: center;
}


.hero-text-2 {
  font-size: 24px;
}


.dark {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: fixed;
  z-index: -1;

}