.add-product {
    display: flex;
    flex-direction: column;
}

.add-product-component {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: black;
}

.add-product input {
    height: 2rem;
    width:30rem;
    border: 1px solid #204C38;
    border-radius: 5px;
}

.selected-images img {
    height: 100px;
}